<div class="grid rows-3 ga0 ga4-ns">
  <div class="ba b--black-20 br4">
    <img src="{{ section.logo-1 | relative_url }}" alt="{{ section.caption }}">
  </div>
  
  <div class="ba b--black-20 br4">
    <img src="{{ section.logo-2 | relative_url }}" alt="{{ section.caption }}">
  </div>

  
  <div class="ba b--black-20 br4">
    <img src="{{ section.logo-3 | relative_url }}" alt="{{ section.caption }}">
  </div>

  
  <div class="ba b--black-20 br4">
    <img src="{{ section.logo-4 | relative_url }}" alt="{{ section.caption }}">
  </div>

  
  <div class="ba b--black-20 br4">
    <img src="{{ section.logo-5 | relative_url }}" alt="{{ section.caption }}">
  </div>

  
  <div class="ba b--black-20 br4">
    <img src="{{ section.logo-6 | relative_url }}" alt="{{ section.caption }}">
  </div>

  
  <div class="ba b--black-20 br4">
    <img src="{{ section.logo-7 | relative_url }}" alt="{{ section.caption }}">
  </div>

  
  <div class="ba b--black-20 br4">
    <img src="{{ section.logo-8 | relative_url }}" alt="{{ section.caption }}">
  </div>

  
  <div class="ba b--black-20 br4">
    <img src="{{ section.logo-9 | relative_url }}" alt="{{ section.caption }}">
  </div>

  
  <div class="ba b--black-20 br4">
    <img src="{{ section.logo-10 | relative_url }}" alt="{{ section.caption }}">
  </div>

  
  <div class="ba b--black-20 br4">
    <img src="{{ section.logo-11 | relative_url }}" alt="{{ section.caption }}">
  </div>

  
  <div class="ba b--black-20 br4">
    <img src="{{ section.logo-12 | relative_url }}" alt="{{ section.caption }}">
  </div>

  
  <div class="ba b--black-20 br4">
    <img src="{{ section.logo-13 | relative_url }}" alt="{{ section.caption }}">
  </div>

  
  <div class="ba b--black-20 br4">
    <img src="{{ section.logo-14 | relative_url }}" alt="{{ section.caption }}">
  </div>

  <div class="ba b--black-20 br4">
    <img src="{{ section.logo-15 | relative_url }}" alt="{{ section.caption }}">
  </div>

  
  <div class="ba b--black-20 br4">
    <img src="{{ section.logo-16 | relative_url }}" alt="{{ section.caption }}">
  </div>

  
  <div class="ba b--black-20 br4">
    <img src="{{ section.logo-17 | relative_url }}" alt="{{ section.caption }}">
  </div>

  
  <div class="ba b--black-20 br4">
    <img src="{{ section.logo-18 | relative_url }}" alt="{{ section.caption }}">
  </div>

</div>