{% if section.panels %} 
<section class="w-100 ">
    <div class="grid columns-1 columns-2-l items-center">
      
      <div class="tl pa4 pa5-m pa6-l" style="background-color: {{ section.col_1.background_colour }}">
        <div class="center vh-50 grid columns-1">
          <h3 
        class="ttu sans-serif tracked f6"
        style="color: {{ section.col_1.text_colour }}">
        {{ section.col_1.headline }}</h3>
        <p 
        class="serif list lh-copy f4 fw1 dark-gray"
        style="color: {{ section.col_1.text_colour }}">
        {{ section.col_1.content }}</p>
        </div>
      </div>

      {% if section.image %} 

      <div class="cover w-100 h-100" style="background:url({{ section.col_2.background_image | relative_url }}) no-repeat center;">
      </div>


      {% else %}

      <div class="tl pa4 pa5-m pa6-l" style="background-color: {{ section.col_2.background_colour }}">
        <div class="center tc vh-50 grid columns-1 items-center">
          <div>
        {% if section.col_2.headline %} 
          <h3 class="tl ttu sans-serif tracked-mega f6 fw6 mb4" 
          style="color: {{ section.col_2.text_colour }} ">
          {{ section.col_2.headline }}</h3>
        {% endif %}
        
          <p class="tl serif f3 fw3 black-80 lh-copy tracked black-40 i"
          style="color: {{ section.col_2.text_colour }} ">
          {{ section.col_2.content }}</p>

          </div>

        </div>
      </div> 
      {% endif %}




    </div>
</section>

{% else %}

<section class="block block-two-column-1">
  <div class="mw-100 mw8-ns center">
    <div class="grid-ns columns-1 columns-6-ns ga4 ">
      <div class="tl serif lh-copy f3 fw1 {{ section.col_1.classes }} mb4 mb0-ns">
        <h3>{{ section.col_1.headline }}</h3>
        <p class="f3 lh-copy">{{ section.col_1.content }}</p>
      </div>
      <div class="tl {{ section.col_2.classes }} ">
        <h3 class="ttu sans-serif tracked f6 mb3 fw6 mt2">{{ section.col_2.headline }}</h3>
        <p class="serif f4 fw3 black-80 lh-copy tracked black-40 i">{{ section.col_2.content }}</p>
      </div>           
    </div>
  </div>
</section>
{% endif %}



