<section class="w-100">
    <div class="mw-100 mw8-ns pa4 center mb5 tl tc-ns">
      
        <div class="tl tc-ns avenir f3 fw5 mb2  "> {{ section.header }} </div>
        <p class=" tl tc-ns avenir f5 fw3 black-80 lh-copy tracked black-40 mb5 measure-narrow center-ns"> {{ section.subheader }} </p>


        <div class="grid columns-4 columns-6-ns ga0 ga3-ns">
            
            <div class="br2-ns ba b--black-10 pa3">
              <img src="{{ section.logo-1 | relative_url }}">
            </div>

            <div class="br2-ns ba b--black-10 pa3">
              <img src="{{ section.logo-2 | relative_url }}">
            </div>

            <div class="br2-ns ba b--black-10 pa3">
              <img src="{{ section.logo-3 | relative_url }}">
            </div>

            <div class="br2-ns ba b--black-10 pa3">
              <img src="{{ section.logo-4 | relative_url }}">
            </div>

            <div class="br2-ns ba b--black-10 pa3">
              <img src="{{ section.logo-5 | relative_url }}">
            </div>

            <div class="br2-ns ba b--black-10 pa3">
              <img src="{{ section.logo-6 | relative_url }}">
            </div>

            <div class="br2-ns ba b--black-10 pa3">
              <img src="{{ section.logo-7 | relative_url }}">
            </div>

            <div class="br2-ns ba b--black-10 pa3">
              <img src="{{ section.logo-8 | relative_url }}">
            </div>

            <div class="br2-ns ba b--black-10 pa3">
              <img src="{{ section.logo-9 | relative_url }}">
            </div>

            <div class="br2-ns ba b--black-10 pa3">
              <img src="{{ section.logo-10 | relative_url }}">
            </div>
                
            <div class="br2-ns ba b--black-10 pa3">
              <img src="{{ section.logo-11 | relative_url }}">
            </div>

            <div class="br2-ns ba b--black-10 pa3">
              <img src="{{ section.logo-12 | relative_url }}">
            </div>


      </div>
    </div>
</section>