<section class="pa4 mv5">

 <div>{{ section.header }}</div>
 <div>{{ section.subheader }}</div>

 <div class="grid columns-1 columns-2-ns ga4">
  
  <div>
   {% if section.col_1.header %}
      <div>{{ section.col_1.header }}</div>
      <div>{{ section.col_1.subheader }}</div>
      {% endif %}

     {% if section.col_1.image %}
      <img src="{{ section.col_1.image | relative_url }}">
     {% endif %}
  </div>

  <div>
      {% if section.col_2.header %}
      <div>{{ section.col_2.header }}</div>
      <div>{{ section.col_2.subheader }}</div>
      {% endif %}

     {% if section.col_2.image %}
      <img src="{{ section.col_2.image | relative_url }}">
     {% endif %}
  </div>

</section>
