<section class=" vh-100" 
{% if section.background_image %}
style="background: url('{{ section.background_image | relative_url }}') no-repeat center center fixed; background-size: cover;"
{% endif %}>
  <div class="container">
    {% if section.logo %}
    <img src="{{ section.logo | relative_url }}" alt="{{ section.image.alt_text }}">
    {% endif %}>
    <div class="columns-2-ns">
      <div class="column text">
        <h1><span class="light">{{ section.headline }}</span></h1>
        <p>{{ section.content }}</p>
        {% if section.cta and section.cta.enabled == true %}
        <a class="button primary inverted" href="{{ section.cta.url }}">{{ section.cta.button_text }}</a>
        {% endif %}
      </div>
      <div class="column media">
        <img src="{{ section.image.image | relative_url }}" alt="{{ section.image.alt_text }}">
      </div>
    </div>
  </div>
</section>