<section class="w-100 mb6">
  <div class="mw-100 mw8-ns center pa4 {{ section.bonus_classes }}">
    <div class="grid columns-1 rows-3 columns-3-ns rows-1-ns ga2 ga2-m ga4-l ">
      
      <div class="grid items-center pa4 br2 ba b--black-20">
        <img class="w2 h2 mb3 bn" src=" {{ section.col_1.image }}">
        <h3 class="mb3 avenir tracked f4 fw5">{{ section.col_1.headline }}</h3>
        <p class="avenir f5 fw3 black-80 lh-copy tracked black-40">{{ section.col_1.content }}</p>
      </div>
     
     <div class="grid items-center pa4 br2 ba b--black-20">
        <img class="w2 h2 mb3 bn" src=" {{ section.col_2.image }}">
        <h3 class="mb3 avenir tracked f4 fw5">{{ section.col_2.headline }}</h3>
        <p class="avenir f5 fw3 black-80 lh-copy tracked black-40">{{ section.col_2.content }}</p>
      </div>
      
      <div class="grid items-center pa4 br2 ba b--black-20">
        <img class="w2 h2 mb3 bn" src=" {{ section.col_3.image }}">
        <h3 class="mb3 avenir tracked f4 fw5">{{ section.col_3.headline }}</h3>
        <p class="avenir f5 fw3 black-80 lh-copy tracked black-40">{{ section.col_3.content }}</p>
      </div>            
    </div>
  </div>
</section>