<section class="w-100" style="background-color: {{ section.background_colour }} ">
  
  <div class="mw-100 mw8-ns center pa4 {{ section.bonus_classes }}">
  {% if section.header %}

   <div class="sans-serif f4 b mb3 tracked fw6" style="color: {{ section.text_colour }}">{{ section.header }}</div>
   <div class="serif fw1 f4 fw1 dark-gray lh-copy">{{ section.subheader }}</div>
  {% endif %}


   <div class="grid columns-1 columns-2-ns ga4">
    
    <div>
     {% if section.col_1.header %}
        <div class="sans-serif f4 b mb3 tracked fw6" style="color: {{ section.text_colour }}">{{ section.col_1.header }}</div>
        <div class="serif fw1 f4 fw1 dark-gray lh-copy" style="color: {{ section.text_colour }}">{{ section.col_1.subheader }}</div>
        {% endif %}

       {% if section.col_1.image %}
        <img src="{{ section.col_1.image | relative_url }}">
       {% endif %}
    </div>

    <div>
        {% if section.col_2.header %}
        <div class="sans-serif f4 b mb3 tracked fw6" style="color: {{ section.text_colour }}">{{ section.col_2.header }}</div>
        <div class="serif fw1 f4 fw1 dark-gray lh-copy" style="color: {{ section.text_colour }}">{{ section.col_2.subheader }}</div>
        {% endif %}

       {% if section.col_2.image %}
        <img src="{{ section.col_2.image | relative_url }}">
       {% endif %}
    </div>
  </div>

</section>

