<section class="vh-100 vh-95-ns" 
{% if section.background_image %}
style="background: url('{{ section.background_image | relative_url }}') no-repeat 68% center fixed; background-size: cover;"
{% endif %}>
  <div class="pa4 pa5-l">

    <div class="pv4 mb2 mb4-ns absolute bottom-1">
    
      <div class="mt7 mt0-ns grid ga4 columns-2-ns items-center">
        
        {% if section.logo %}
        <img class="w-50 w-100-ns" 
         src="{{ section.logo | relative_url }}" alt="{{ section.image.alt_text }}">
        {% endif %}

        <div class="">
          <h1 class="fw1 f2 f3-m f2-l serif white lh-title i">{{ section.headline }}</h1>
          <p class="white">{{ section.content }}</p>
        </div>

      </div>
    </div>
  </div>
</section>