{% if section.layout-1 %} 
<section class="w-100">
  <div class="mw-100 mw8-ns center ph4 pt5 pt6-ns">
    <div class="relative vh-50">

        <div class="absolute bottom--4 left-0 z-3">
          <img class="h5" src="{{ section.image_1 | relative_url }}">
        </div>

        <div class="absolute bottom--4 left-20-ns right-0 z-2">
          <img class="vh-75" src="{{ section.image_2 | relative_url }}">
        </div>

        <div class="absolute bottom--4 right-0 z-1 dn db-ns">
          <img class="vh-50" src="{{ section.image_3 | relative_url }}">
        </div>


      </div>
</section>

{% else %}

<section class="w-100">
  <div class="mw-100 mw8-ns center ph4 pt5 pt6-ns">
    <div class="relative vh-50">

        <div class="absolute bottom-0 left-0 z-3">
          <img class="vh-50" src="{{ section.image_1 | relative_url }}">
        </div>

        <div class="absolute bottom-0 left-20-ns right-0 z-2">
          <img class="vh-75" src="{{ section.image_2 | relative_url }}">
        </div>

        <div class="absolute bottom-0 right-0 z-1 dn db-ns">
          <img class="vh-50" src="{{ section.image_3 | relative_url }}">
        </div>


      </div>
</section>

{% endif %} 



