{% if section.layout-1 %} 
<section class="w-100">
  <div class="mw-100 mw8-ns center ph4 pt0 pt4-ns tc mt0 mt4-ns">
    <div class="relative h4 vh-50-ns mt5">

        <div class="absolute bottom--4 left-0 z-1 tl">
          <img class="vh-50" src="{{ section.image_1 | relative_url }}">
        </div>

        <div class="absolute bottom--4 left-4 z-2 tl">
          <img class="vh-75" src="{{ section.image_2 | relative_url }}">
        </div>

        <div class="absolute bottom--4 right-0 z-3">
          <img class="vh-50" src="{{ section.image_3 | relative_url }}">
        </div>


      </div>
</section>

{% else %}

<section class="w-100">
  <div class="mw-100 mw8-ns center ph4 pt4 tc">
    <div class="relative h2 h5-ns mb5 mt6">

        <div class="absolute top--1 right-0 z-1 w-25 tl">
          <img class="" src="{{ section.image_1 | relative_url }}">
        </div>

        <div class="absolute top--1 right-0 z-2 w-25 tr">
          <img class="" src="{{ section.image_2 | relative_url }}">
        </div>

        <div class="absolute top--1 left-2 z-3 w-75">
          <img class="" src="{{ section.image_3 | relative_url }}">
        </div>


      </div>
</section>

{% endif %} 



