<section class="vh-100 vh-95-ns" 
{% if section.background_image %}
style="background: url('{{ section.background_image | relative_url }}') no-repeat center center fixed; background-size: cover;"
{% endif %}>
  <div class="pa4 pa5-l">

    <div class="mw-100 mw-50-l pv4 mb5 absolute-ns bottom-1">
    
      <div class="mt7 mt0-ns grid ga4 columns-2-ns items-center">
        
        {% if section.logo %}
        <img class="w-50 w-100-ns" 
         src="{{ section.logo | relative_url }}" alt="{{ section.image.alt_text }}">
        {% endif %}

        <div class="">
          <h1 class="fw1 f5 f4-m f3-l serif white lh-copy">{{ section.headline }}</h1>
          <p class="white">{{ section.content }}</p>
        </div>

      </div>
    </div>
  </div>
</section>